/*----------------------------------------- General ------------------------------------------------------*/
.wrap-all {
    width: 1200px;
    margin: 0 auto;
    min-height : 700px;

}

fieldset {
    padding: 10px;
    /*border: 1px #0568CD solid;*/
}

legend {
    font-weight: bold;
    color: #0568CD;
}

/*---------------------Nav----------------------------------*/
.navCustom{
    border-bottom: 1px solid #bacbdd;
    padding-bottom: 0px;
    background-color: #e9ecef;
}
/*-----INSCRIPTION-------*/

#inscr-main-col{
    margin-left:30%
}

#inscr-top-col{
    margin-top: 20px;
    margin-left: 30%;
}

#select_form_btn{
    margin-left:37%;
}
#submit_form_inscription{
    margin-left: 138px;
}
/*-----PROFILE-------*/
#profile-main-col{
    margin-top: 100px;
}

#ul_nav_profile{
    border: 1px solid #acbcce;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    margin-top: 66px
}





/*------------------------------------------------ Forms ----------------------------------------------------- */

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

form .requis {
    color: #c00;
}

#form-inscription-complet{
    margin: 50px 20px 0 20px;
}

form .erreur {
    color: #900;
}

form .succes {
    color: #159902;
}

/*------------ STRIPE -------------------*/
.StripeElement {
    background-color: white;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#card-element{
    min-width:340px;
}

#card-errors{
    color: #fa755a;
}

#payment-form button{
    margin-top:50px;
}


/*-------------MAP---------------*/
#map {
    width: 100%;
    height: 500px;
    background-color: grey;
}